body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background: url(../images/fondoPrincipal.jpeg)no-repeat ;
    background-size: cover;
    font-family: 'simpsonfontregular';
    color:#FFD90F;
    

}
header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: 'Fishing';
    font-size:x-large;
    margin-top: 50px;
}

.Contenedor{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    text-decoration: none;
    list-style: none;

}
.lista{
    font-family: 'simpsonfontregular';
     display: flex;
flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
 
.lista label{
    text-decoration:none;
    text-decoration-color: black;
}
#enlistado{
    background: white;
    font-family:'simpsonfontregular';
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 240px;
    border: 2px solid green;
    border-radius: 5%;
    background: url(../images/fondolista3.jpg)no-repeat;
    background-size:150px 240px;
    color: black;
   
}
section{
    font-family: 'simpsonfontregular';
}
#nombre{
    border-radius: 5%;
    font-family: 'simpsonfontregular';
}

#completo{
    text-transform: capitalize ;
}
